body {
  font-family: helvetica, light;
}

article {
  height: 350px;
  width: 350px;
}
section {
  height: 350px;
}
#title {
  background: url(banniere1.png) no-repeat center center;
  background-size: cover;
}
#title2 {
  background: url(banniere2.png) no-repeat center center;
  background-size: cover;
}
#title3 {
  background: url(banniere3.png) no-repeat center center;
  background-size: cover;
}
#title4 {
  background: url(banniere4.png) no-repeat center center;
  background-size: cover;
}