body {
	background: url(logo-4.png) no-repeat center center fixed;
	background-size: 400px,400px;
	background-color: #FFE081;
	margin-right: 0px;
	padding: 0;
}

section {
	height: 400px;
}

.box {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px;
	text-align: center;
}

.box img {
	display: inline;
}

.box a {
	color: black;
}

#banniere1 {
	background: url(banniere1.png) no-repeat center center;
	background-size: cover;
}

#banniere13 {
	background: url(banniere23.png) no-repeat center center;
}

.img-responsive {
	max-width: 100%;
	max-height: auto;
}
