body {
  background-color: #FFE081;
}
article {
  height: 350px;
  width: 350px;
}
section {
  height: 350px;
}
#blank {
  height: 350px;
  width: 350px;
  font-family: helvetica, light;
  font-size: 18px;
  text-align: justify;
}
#banniere1 {
  background: url(banniere1.png) no-repeat center center;
  background-size: cover;
}
#banniere2 {
  background: url(banniere2.png) no-repeat center center;
  background-size: cover;
}
#banniere3 {
  background: url(banniere3.png) no-repeat center center;
  background-size: cover;
}
#banniere4 {
  background: url(banniere4.png) no-repeat center center;
  background-size: cover;
}